.fade-container {
    height: 100vh;
    width: 100vw;
    background-color: black;

    align-items: center;
    display: flex;
    justify-content: center;
}

.circular-fade-out {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;

    animation: 2s ease-out 0s 1 fadeOut;
    overflow: hidden;
}

@keyframes fadeOut {
    0% {
        height: 1px;
        width: 1px;
        transform: scale(0);
        border-radius: 50%;
    }

    100% {
        transform: scale(2);
        height: 1000px;
        width: 1000px;
        border-radius: 50%;
    }
}