.main {
    height: 70%;
}

article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 200px;
}

.introduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
}

.introduction * {
    text-align: left;
}

.introduction h2 {
    text-align: right;
}

.introduction-header {
    font-size: 7rem;
}

.introduction-paragraph {
    font-size: 2rem;
}

.introduction h2 { 
}